@using Infra.Services;
@using Data.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model PagedListClient<tbUser>;

@{
    var result = User.Identity.IsAuthenticated.ToString();
    var _id = 0;
    if (result == "True")
    {
        _id = Convert.ToInt32(User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Id].Value);
    }

}
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Name & Email</th>
            <th>Account Type</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
        @if (Model.TotalCount > 0)
        {
            @foreach (var item in Model.Results)
            {
                @if (item.Id != _id)
                {
                    <tr id="@item.Id">
                        <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@item.Name</p>
                                <p class="text-muted mb-0">@item.Email</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@item.UserRole</p>
                    </td>
                    <td>@item.CreatedDate</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm btn-rounded" onclick="confirm_delete(@item.Id)">
                            Delete Account
                        </button>
                    </td>
                </tr>
                }
            }
        }
        else
        {
            <p class="h4">No User Data. </p>
        }
        </tbody>
</table>
<div class="pagedList" style="text-align : center; display: inline">
    @Html.PagedListPager(Model.Results, page => Url.Action("_UserList", "User",
    new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
