@{
    var result = User.Identity.IsAuthenticated.ToString();
    var _id = 0;
    var _role = "Login";
    var _col = "col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-3";
    if(result == "True")
    {
        _id = Convert.ToInt32(User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Id].Value);
        _role = User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Role].Value;
    }
 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulkyBookWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BulkyBookWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top">
            <div class="container-fluid">
                @{
                    
                    if (result == "True")
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bulky Book Store</a>
                    }
                    else{
                        <a class="navbar-brand" href="#">Bulky Book Store</a>
                    }
                  }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if(result == "True")
                            {
                                if (_role == "User")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="UserOrderView" asp-route-userId="@_id">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="WishList" asp-action="Index" asp-route-userId="@_id">WishList</a>
                                    </li>
                                    <li class="nav-item ms-auto">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index"> <i class="fa-solid fa-cart-shopping me-2"></i>
                                            <span class="badge bg-secondary" id="shopping_cart_icon">0</span>
                                        </a>
                                    </li>
                                   

                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="_EditView" asp-route-id="@_id">Edit Profile</a>
                                </li>
                       
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Log Out</a>
                                </li>
                            }

                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Log in</a>
                                </li>

                            }
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>


    <div class="container-fluid">
        @{
           
            <div class="row">
                @if(_role == "Admin"){
                    <!-- Sidebar -->
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 collapse d-lg-block sidebar collapse bg-white">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-2">
                                <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Home" asp-action="Dashboard">
                                    <span>Dashboard</span>
                                </a>
                            <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Book" asp-action="Index"><span>Books</span>
                            </a>
                            <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="Category" asp-action="Index"><span>Category</span></a>
                                <a class="list-group-item list-group-item-action py-2 ripple" asp-controller="User" asp-action="UserView"><span>User Accounts</span></a>
                           
                        </div>
                    </div>
                    </nav>
                }
                else
                {
                    _col = "col-md-12 ms-sm-auto col-lg-12 px-md-4 pb-3";
                }
                <main role="main" class="@_col">
                @RenderBody()
                </main>
                
            </div>
           }
            
    </div>
    
@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Bulky Book Store
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
