@using Infra.Services;
@using Data.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model PagedListClient<tbBook>;
@{
    var result = User.Identity.IsAuthenticated.ToString();
    var _role = "Login";
    var _userid = 0;
    var _col = "row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3";
    if (result == "True")
    {     
        _role = User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Role].Value;
        _userid = Convert.ToInt32(User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Id].Value);
    }

}

<div id="CategoryFilter"></div>

@if(Model.TotalCount > 0){

    @if(_role != "Admin")
    {
        _col = "row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3";
    }
    <div class="@_col">
        @foreach (var item in Model.Results)
        {
            <div class="col" id="book_@item.Id">
                <div class="card">
                    @if (_role == "Admin")
                    {
                        <img src="@item.ThumbnailUrl" class="card-img-top" style="height: 250px;" alt="Document Thumbnail">
                    }
                    else
                    {
                        <img src="@item.ThumbnailUrl" class="card-img-top" style="height: 230px;" alt="Document Thumbnail">
                    }
                  
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <div class="card-text">
                            Author - @item.Author <br />
                            Category - @item.Category <br />
                            Publisher - @item.Publisher <br />
                            Published Date - @item.PublishDate <br />
                         
                            <p class="fw-bold pt-3">@item.Price MMK</p>
                          

                            <div class="d-flex">
                                @if (item.BookUpload != null)
                                {
                                    <div class="mr-2">
                                        <a class="btn btn-light border-dark" href="@item.BookUploadUrl" target="_blank">Download Now</a>

                                    </div>

                                }
                                @if (_role == "Admin")
                                {
                                    <a class="btn btn-danger ms-2" onclick="delete_book(@item.Id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                }
                                else
                                {
                                    <div id="shop_@item.Id">
                                        <a class="btn btn-success ms-2" onclick="add_to_cart('@item.Id', '@item.Title', '@item.Price')">
                                            <i class="fa-solid fa-cart-shopping me-2"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        }
 </div>
}
else{
    <p class="h2">No books here yet.</p>
}
<div class="pagedList" style="text-align : center; display: inline">
    @Html.PagedListPager(Model.Results, page => Url.Action("_BookList", "Book",
    new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
